/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Roboto", sans-serif;
}

.cursor-pointer {
    cursor: pointer;
}

.text-384a9a {
    color: #384a9a;
}

.text-4761ac {
    color: #4761ac;
}

.text-0023b5 {
    color: #0023b5 ;
}

.uppercase {
    text-transform: uppercase;
}

.font-2rem {
    font-size: 2rem;
}

.font-12px {
    font-size: 12px;
}

.font-20px {
    font-size: 20px;
}

.font-22px {
    font-size: 22px;
}

.font-24px {
    font-size: 24px;
}

.font-26px {
    font-size: 26px;
}

.font-35px {
    font-size: 35px;
}

.font-50px {
    font-size: 50px;
}

.img {
    width: 160px;
    height: 60px;
    object-fit: contain;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.br-10px {
    border-radius: 10px;
}

/* mobile view */
.display-768px {
    display: none;
}

.display-pluse {
    display: block;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 25px;
    background-color: aqua;
}

.whats-app-circle {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;
    background-color: #25d366;
    color: white;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    right: 20px;
    z-index: 20;
}