<div class="navbar">
    <img src="assets/images/logo.svg" alt="jobringer" class="logo">
    <div>
        <span class="nav-text">Jobs</span>
        <span class="nav-text">Active Employers</span>
        <span class="nav-text">Job Blogs</span>
        <span class="nav-text mr-3">Pricing</span>
        <span class="button button-outline mr-3">Jobseeker Login</span>
        <span class="button button-full mr-3">Employer Login</span>
    </div>
</div>

<!-- banner -->
<nz-card class="banner m-3">
    <div class="d-flex justify-content-between">
        <div class="banner-title">
            EMPLOYERS
        </div>
        <div class="banner-offer-message">
            WELCOME OFFER - FREE JOB Postings and Much More.
        </div>
    </div>
</nz-card>